{% extends 'questions\master.html' %}
{% block title %}
Question - {{question.question_title}}
{% endblock %}
{%block content%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<div class="question_detail_title">
            {{question.question_title}}    
    </div> 
<hr/>
<div class="question_detail_answer">  
    
     <div class="score">
         <i class="fa fa-caret-up" id="vote_question_up" data-questionid="{{question.id}}" aria-hidden="true"></i>
         <span>{{question.score}}</span>     
         <i class="fa fa-caret-down" id="vote_question_down" aria-hidden="true"></i>
    </div>
    <div class="question_detail_summary">
    {{question.question_text | safe}}
</div>
       
</div>
<hr/>


    {% for ans in answer %}
<div class="clearfix">
        <div class="answer_detail">
            <div class="answer_score">
                 <i class="fa fa-caret-up" aria-hidden="true"></i>
                <span>{{ans.answer_score}}</span>
                 <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
            <div>
                {{ans.answer_text}}
            </div>
           
        </div>
    <div class="answer_info" >answered {{ans.answer_date}}</div> 
    
    </div>
<hr />
    {% endfor %}

<div class="answer_user_section">
    <div class="your_answer_label">Your Answer</div>
    <div class="youranswer">
        <!--/questions/answer/{{question.id}}-->
    <form action="{%url 'questions:answer' question.id %}" method="post">
        {% csrf_token %}
        <textarea name="answer_text"></textarea>
        <script>
        var simplemde = new SimpleMDE({ autosave: {enabled:true}, status:false });
        </script>
        <input type="submit" value="Post Your Answer" class="submit_button" />
    </form>
    
</div>
</div>

{% endblock %}

{% block script %} 
{% load static %}
<script type="text/javascript" src='{% static "js/question_detail.js"%}'></script>

{% endblock %}